/*body{
    background: url(img/inteligencia3.png) no-repeat center;
        background-size: cover;
}
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
     Ajusta los valores de color y transparencia según necesites */
